<search></search>
<!-- <div *ngFor="let item of list">
    <p>Current element of array is: {{item}}</p>
</div> -->
<!-- <div>
    <img [src]="product.pImage" width={{100}} height={{100}}>
<p>Name {{product.name}}</p>
<p>Price: {{'$'+product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: ${{getDiscountedPrice().toFixed(2)}}</p>
<p>{{product.inStock>0?"Only "+ product.inStock:"Out of stock"}}</p>
<button bind-disabled="product.inStock==0">Buy Now</button>
<br><input [value]="name" [name]="product.name" (input)="onNameChange($event)" [attr.area-name]="product.name"/>
<p>name={{name}} </p>
<button (click)="decrement()">-</button>
<span>{{addToCart}}</span>
<button (click)="increment()">+</button>
</div> -->
<product-list></product-list>